.boxForm {
	width: 580px;
	height: 550px;
	margin-left: 14%;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-top: 2%;
	box-shadow: 3px 9px 31px 1px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	background-color: #262626;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(77, 77, 77);
}

.formAddPet {
	padding-top: 10%;
	color: white;
	font-size: 25px;
	text-align: center;
}

.addPetText {
	font-size: 70px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px black;
}

.column {
	float: center;
}

.columnLeftPet {
	float: left;
	width: 40%;
	padding-top: 7%;
}

.columnRightPet {
	float: right;
	width: 60%;
	height: 100px;
	padding-top: 8%;
}

.columnLeftCard {
	float: left;
	width: 70%;
	height: 100px;
}
.columnRightCard {
	float: right;
	width: 30%;
	height: 100px;
	padding-top: 2%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.input {
	width: 80%;
	padding: 8px 20px;
	border: 1px solid #333333;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
	font-size: 15px;
	margin-bottom: 8%;
}

.inputSelect {
	width: 91%;
	padding: 8px 20px;
	outline: none;
	font-size: 15px;
	margin-bottom: 4%;
	margin-top: -4%;
	margin-left: 4.3%;
}

.submit {
	background-color: black;
	width: 65%;
	height: 60px;
	outline: none;
	border-radius: 4px;
	border-style: solid;
	font-size: 30px;
	color: #f4f1f0;
	cursor: pointer;
	box-shadow: 12px 15px 29px -15px rgba(0, 0, 0, 0.75);
	border-color: white;
	border-width: 1px;
}

.submit:hover {
	background-color: black;
}

.petCard {
	width: 70%;
	height: 100px;
	background-color: #262626;
	margin-bottom: 5%;
	margin-left: 10%;
	box-shadow: 3px 9px 31px 1px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	color: whitesmoke;
	padding-left: 5%;
	border-color: rgb(77, 77, 77);
	border-style: solid;
	border-width: 1px;
	padding-bottom: 1%;
}

p {
	display: inline-block;
}
.cardButton {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: white;
	color: whitesmoke;
	width: 150px;
	height: 20px;
	margin-bottom: 3.5%;
	font-weight: bold;
}

.namePet {
	font-size: 90px;
	text-shadow: 2px 2px black;
	/*font-weight: bold;*/
}

.popup {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	display: flex;
	background-color: rgba(0, 0, 0, 0.7);
}
.popup-inner {
	position: absolute;
	width: 550px;
	height: 500px;
	border-radius: 4px;
	background-color: #404040;
	color: white;
	text-align: center;
	box-shadow: 3px 9px 31px 1px rgba(0, 0, 0, 0.75);
	padding-top: 2%;
}

.modalText {
	padding-bottom: 15%;
}

.modalInput {
	padding-bottom: 2%;
}

.inputModal {
	width: 80%;
	padding: 8px 20px;
	border: 1px solid #333333;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}

.columnLeftModal {
	padding-top: 1%;
	float: left;
	text-align: right;
	width: 45%;
}

.columnRightModal {
	float: right;
	width: 55%;
}

.buttonSave {
	background-color: green;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: white;
	color: whitesmoke;
	width: 150px;
	height: 50px;
	margin-right: 5%;
	font-size: 20px;
}

.buttonClose {
	background-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: white;
	color: whitesmoke;
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-bottom: 3.5%;
}

.columnLeftFormSelect {
	padding-top: 1%;
	float: left;
	text-align: right;
	width: 30%;
}

.columnRightFormSelect {
	float: right;
	width: 70%;
}

@media only screen and (min-width: 751px) {
	.oneColumn {
		display: none;
	}
	.petCardSmall {
		display: none;
	}
}

@media (max-width: 750px) {
	.twoColumn {
		display: none;
	}
	.petCardBig {
		display: none;
	}
	.boxForm {
		width: 300px;
		height: 410px;
		margin-left: 8%;
		margin-top: 100px;
		margin-bottom: 8%;
	}
	.addPetText {
		font-size: 50px;
	}

	.formAddPet {
		font-size: 20px;
	}
	.input {
		padding: 6px 5px;
	}
	.petCard {
		width: 300px;
		height: 200px;
		margin-left: 8%;
		padding-top: 6%;
		padding-left: 0;
		text-align: center;
	}
	.namePet {
		font-size: 60px;
		margin-bottom: 5%;
	}
	.popup-inner {
		width: 300px;
		height: 420px;
	}
	.buttonSave {
		width: 100px;
	}
	.buttonClose {
		width: 100px;
	}
}
